exportClasses(Oncoscape)

export(
    Oncoscape,
    dataProviders,
    PatientHistoryProvider,
    Data2DProvider,
    LocalFileData2DProvider,
    entities,
    features,
    getData,
    dimensions,
    printf,
    matrixToJSON,
    startWebApp,
    invokeCommand,
    assignPatientNumbersToTimelinesEvent
    )

exportMethods(
    show,
    getMode,
    getServer,
    setup,
    run,
    close,
    getTable,
    getEvents,
    legalEventNames,
    requiredEventNames
    )
